<div *ngIf="!isLoadingPage">
  <div class="row">
    <div class="col-sm-12 col-md-4" *ngFor="let cardData of cardsIconData">
      <app-card-icon-right [data]="cardData"></app-card-icon-right>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card radius-10">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between flex-wrap flex-sm-wrap w-100 mb-3 gap-2">
            <h2 class="mb-0">
              Usuarios
            </h2>
            <button routerLink="/users/new" type="button" class="btn btn-outline-primary px-3 radius-10">
              <i class="bx bx-plus mr-1"></i>Nuevo Usuario
            </button>
          </div>
          <div class="d-flex align-items-center justify-content-end justify-content-sm-between mb-3 flex-wrap gap-2">
            <app-input-search [findName]="'usuario'" (text)="findByFullname($event)"
              class="mr-auto flex-grow-1 flex-sm-grow-1 flex-md-grow-0">
            </app-input-search>
            <app-dropdown-page-list (limit)="changeLimit($event)"></app-dropdown-page-list>
          </div>
          <app-text-alert *ngIf="users.length === 0 && isSearching" [icon]="'bx-user'" [textColor]="'info'"
          [text]="getQuerySearchMessage"></app-text-alert>
          <div class="table-responsive" *ngIf="users.length > 0">
            <table class="table align-middle table-hover">
              <thead>
                <tr>
                  <th class="text-center">Avatar</th>
                  <th>Nombre</th>
                  <th class="text-center">Cargo</th>
                  <th>Usuario</th>
                  <th>Teléfono</th>
                  <th>Email</th>
                  <th class="text-center">Estado</th>
                  <th class="text-end">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td class="text-center">
                    <img [src]="user.image" class="user-img" alt="user-avatar">
                  </td>
                  <td class="my-auto"> {{ user.name }} {{ user.last_name }} </td>
                  <td class="text-center">
                    <span *ngIf="user.role === 'DENTIST'"
                      class="badge rounded-pill text-primary bg-light-primary p-2 text-uppercase px-3">Dentista</span>
                    <span *ngIf="user.role === 'ADMIN'"
                      class="badge rounded-pill text-secondary bg-light-warning p-2 text-uppercase px-3">Administrador</span>
                  </td>
                  <td> {{ user.username }} </td>
                  <td> {{ user.phone_number }} </td>
                  <td> {{ user.email }} </td>
                  <td class="text-center">
                    <span *ngIf="user.status"
                      class="badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3">Activo</span>
                    <span *ngIf="!user.status"
                      class="badge rounded-pill text-danger bg-light-danger p-2 text-uppercase px-3">Suspendido</span>
                  </td>
                  <td>
                    <div class="d-flex justify-content-end order-actions">
                      <a *ngIf="user.status && user.id_user !== getCurrentUserId" (click)="changeStatus(user.name+' '+user.last_name, user.id_user)"
                        class="cursor text-danger bg-light-danger">
                        <i class="bx bx-block"></i>
                      </a>
                      <a [routerLink]="['/users/', user.id_user]" class="ms-2 cursor text-primary bg-light-primary"><i
                          class="bx bx-id-card"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <app-pagination *ngIf="totalUsers > 0 && showPagination" [limit]="limit" [total]="totalUsers"
            (changedOffset)="changePage($event)"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="isLoadingPage"></app-loader>
