<div class="card radius-10 card radius-10 border-start border-0 border-3" [ngClass]="'border-'+data.color">
  <div class="card-body">
    <div class="d-flex align-items-center">
      <div>
        <p class="mb-0 text-secondary">{{data.title}}</p>
        <h4 class="my-1" [ngClass]="'text-'+data.color">{{data.quantity}}</h4>
      </div>
      <div class="widgets-icons rounded-circle text-white ms-auto" [ngClass]="'bg-gradient-'+data.bg">
        <i class="bx" [ngClass]="data.icon"></i>
      </div>
    </div>
  </div>
</div>