<div class="wrapper">
  <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
        <div class="col mx-auto">
          <div class="card radius-10">
            <div class="card-body">
              <div class="p-4">
                <div class="text-center">
                  <img src="assets/images/tooth.png" width="140" alt="" />
                </div>
                <div class="redressed">
                  <h2 class="primary">Iniciar</h2>
                  &nbsp;
                  <h2 class="secondary">Sesión</h2>
                </div>
                <div class="form-body">
                  <form [formGroup]="loginForm" (submit)="login()" class="row g-3 my-1">
                    <div class="col-12">
                      <label class="form-label">Usuario</label>
                      <input formControlName="username" type="text"
                        class="form-control form-control-lg mb-2 radius-10" />
                    </div>
                    <div class="col-12">
                      <label class="form-label">Password</label>
                      <div class="input-group" id="show_hide_password">
                        <input formControlName="password" type="password"
                          class="form-control form-control-lg border-end-0 radius-10" id="inputChoosePassword" />
                        <a href="javascript:;" class="input-group-text bg-transparent"><i class="bx bx-hide"></i></a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-check form-switch d-flex align-items-center gap-2" style="padding: 0;">
                        <input class="form-check-input" [checked]="saveUser" (change)="saveUserInfo($event.target)"
                          type="checkbox" id="rememberMe"
                          style="width: 3rem; height: 1.5rem; margin-left: 0rem; margin-top: 0;" />
                        <label class="form-check-label" for="rememberMe">Recordarme</label>
                      </div>
                    </div>
                    <div class="col-md-6 text-end d-flex justify-content-end align-items-center">
                      <a href="">Recuperar contraseña</a>
                    </div>
                    <div class="col-12">
                      <div class="d-grid">
                        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary radius-10">
                          <i class="bx bx-log-in"></i>Ingresar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="d-flex justify-content-end mt-4">
                  <a routerLink="/code">Crear cuenta</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>