<div class="table-responsive" *ngIf="appointments">
  <table class="table align-middle table-hover">
    <thead>
      <tr>
        <th class="text-center"># Cita</th>
        <th>Fecha de Expedición</th>
        <th>Observaciones</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let appointment of appointments">
        <td class="text-center">{{ appointment.id_appointment }}</td>
        <td>{{ appointment.createdAt | date: 'short' }}</td>
        <td>{{ appointment.description }}</td>
        <td class="text-center">
          <span *ngIf="appointment.status === 'PENDING'"
            class="badge rounded-pill text-primary bg-light-primary p-2 text-uppercase px-3">Pendiente</span>
          <span *ngIf="appointment.status === 'CANCELLED'"
            class="badge rounded-pill text-danger bg-light-danger p-2 text-uppercase px-3">Cancelada</span>
          <span *ngIf="appointment.status === 'DONE'"
            class="badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3">Realizada</span>
        </td>
        <td>
          <div class="d-flex justify-content-center order-actions">
            <a class="ms-2 cursor" data-bs-toggle="modal" data-bs-target="#modalDetailAppointment"
              (click)="showDetails(appointment)"><i class="bx bx-time"></i></a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<app-modal-appointment></app-modal-appointment>