<div *ngIf="!isLoadingPage">
  <div class="row ">
    <div class="col-sm-12 col-md-4" *ngFor="let cardData of cardsIconData">
      <app-card-icon-right [data]="cardData"></app-card-icon-right>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="card radius-10">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between flex-wrap flex-sm-wrap w-100 mb-3 gap-2"
            [ngClass]="showOptions ? 'justify-content-between': 'justify-content-end'">
            <h2 class="mb-0" *ngIf="showOptions">
              Pacientes
            </h2>
            <div class="d-flex align-items-center gap-2 flex-wrap">
              <select *ngIf="userRole === 'ADMIN'" class="form-select radius-10" (change)="changeOptionGet($event)"
                style="width: auto;">
                <option value=false>Mis pacientes</option>
                <option value=true>Todos</option>
              </select>
              <button type="button" routerLink="/patients/new" class="btn btn-outline-primary px-3 radius-10">
                <i class="bx bx-plus mr-1"></i>Nuevo
              </button>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-end justify-content-sm-between mb-3 flex-wrap gap-2"
            *ngIf="showOptions">
            <app-input-search [findName]="'paciente'" (text)="findByFullname($event)"
              class="mr-auto flex-grow-1 flex-sm-grow-1 flex-md-grow-0" *ngIf="showOptions">
            </app-input-search>
            <app-dropdown-page-list (limit)="changeLimit($event)" *ngIf="patients && patients.length > 0">
            </app-dropdown-page-list>
          </div>
          <app-text-alert *ngIf="patients && patients.length === 0" [icon]="'bx-user'" [textColor]="'info'"
            [text]="'No hay pacientes'"></app-text-alert>
          <div class="table-responsive" *ngIf="patients && patients.length > 0">
            <table class="table align-middle table-hover">
              <thead>
                <tr>
                  <th># Paciente</th>
                  <th>Paciente</th>
                  <th>Teléfono</th>
                  <th>Persona responsable</th>
                  <th>Teléfono del responsable</th>
                  <th *ngIf="showColumn">Dentista a cargo</th>
                  <th class="text-center">Estado</th>
                  <th class="text-end">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let patient of patients">
                  <td> # {{ patient.id_patient }} </td>
                  <td class="my-auto">
                    <img [src]="patient.image" class="user-img" alt="user-avatar">
                    {{ patient.name }} {{ patient.last_name }}
                  </td>
                  <td> {{ patient.phone_number }} </td>
                  <td> {{ patient.familiar.familiar_name }} {{ patient.familiar.familiar_last_name }} </td>
                  <td> {{ patient.familiar.familiar_phone_number }} </td>
                  <td *ngIf="showColumn">
                    <img [src]="patient.user?.image" class="user-img" alt="user-avatar">
                    {{ patient.user?.name }} {{ patient.user?.last_name }}
                  </td>
                  <td class="text-center">
                    <span *ngIf="patient.status"
                      class="badge rounded-pill text-success bg-light-success p-2 text-uppercase px-3">Activo</span>
                    <span *ngIf="!patient.status"
                      class="badge rounded-pill text-danger bg-light-danger p-2 text-uppercase px-3">Suspendido</span>
                  </td>
                  <td>
                    <div class="d-flex justify-content-end order-actions">
                      <a *ngIf="patient.status" (click)="changeStatus(patient.name +' '+
                      patient.last_name, patient.id_patient)" class="cursor text-danger bg-light-danger">
                        <i class="bx bx-block"></i>
                      </a>
                      <a routerLink="/patients/{{patient.id_patient}}" class="ms-2 cursor bg-light-warning">
                        <i class="bx bx-pencil"></i>
                      </a>
                      <a *ngIf="patient.status" routerLink="/patients/patient/{{patient.id_patient}}/record"
                        class="ms-2 text-info bg-light-info"><i class="bx bx-id-card"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <app-pagination *ngIf="totalPatients > 0 && showPagination" [limit]="getLimitPagination"
            [total]="totalPatients" (changedOffset)="changePage($event)"></app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader *ngIf="isLoadingPage"></app-loader>