<div class="wrapper">
  <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
        <div class="col mx-auto">
          <div class="card radius-10">
            <div class="card-body">
              <div class="p-4">
                <div class="text-center">
                  <img src="assets/images/tooth.png" width="140" alt="" />
                </div>
                <div class="redressed">
                  <h2 class="primary">Crear</h2>
                  &nbsp;
                  <h2 class="secondary">Cuenta</h2>
                </div>
                <div class="form-body">
                  <form class="row g-3 my-1">
                    <div class="col-6 my-1">
                      <label class="form-label">Nombre</label>
                      <input type="text" class="form-control mb-2" />
                    </div>
                    <div class="col-6 my-1">
                      <label class="form-label">Apellido</label>
                      <input type="text" class="form-control mb-2" />
                    </div>
                    <div class="col-6 my-1">
                      <label class="form-label">Fecha de Nacimiento</label>
                      <input type="date" class="form-control mb-2" />
                    </div>
                    <div class="col-6 my-1">
                      <label class="form-label">Sexo</label>
                      <select class="form-select mb-2">
                        <option selected>Seleccione una opción</option>
                        <option value="male">Hombre</option>
                        <option value="female">Mujer</option>
                        <option value="other">Otro</option>
                      </select>
                    </div>
                    <div class="col-6 my-1">
                      <label class="form-label">Email</label>
                      <input type="email" class="form-control mb-2" />
                    </div>
                    <div class="col-6 my-1">
                      <label class="form-label">Télefono</label>
                      <input type="tel" class="form-control mb-2" />
                    </div>
                    <hr class="my-2">
                    <div class="col-6 my-1">
                      <label class="form-label">Calle</label>
                      <input type="text" class="form-control mb-2" />
                    </div>
                    <div class="col-3 my-1">
                      <label class="form-label">Número</label>
                      <input type="text" class="form-control mb-2" />
                    </div>
                    <div class="col-3 my-1">
                      <label class="form-label">CP</label>
                      <input type="text" class="form-control mb-2" />
                    </div>
                    <div class="col-6 my-1">
                      <label class="form-label">Ciudad</label>
                      <input type="text" class="form-control mb-2" />
                    </div>
                    <div class="col-6 my-1">
                      <label class="form-label">País</label>
                      <input type="text" class="form-control mb-2" />
                    </div>
                    <div class="col-12">
                      <div class="d-grid">
                        <button type="submit" class="btn btn-primary radius-30">
                          <i class="bx bx-save"></i>Crear
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>