<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalAddService" tabindex="-1"
  style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title d-flex text-info align-items-center">
          <i class="bx bx-briefcase me-1 font-30"></i>
          Agregar Servicio
        </h3>
        <i class="bx bx-x-circle text-danger font-30 cursor" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-8">
            <label for="selectService" class="form-label">Servicios disponibles</label>
            <select class="form-select radius-10" id="selectService" (change)="changeService($event)">
              <option [value]="service.id_service" *ngFor="let service of services">{{ service.name }}</option>
            </select>
          </div>
          <div class="col-4">
            <label for="inputQuantity" class="form-label">Cantidad (max 10)</label>
            <input type="number"
              #txtQuantity
              (keyup)="changeQuantity(txtQuantity.value)"
              (change)="changeQuantity(txtQuantity.value)"
              [value]="quantity"
              (click)="selectInputValue(txtQuantity)"
              class="form-control radius-10"
              id="inputQuantity"
              min="1"
              max="10">
          </div>
        </div>
        <div class="d-flex justify-content-end align-items-end flex-column mt-4">
          <h5> Precio: {{ price | currency: '$ ' }} </h5>
          <h2> Subtotal: {{ subtotal | currency: '$ ' }} </h2>
        </div>
      </div>
      <div class=" modal-footer">
        <button type="button" class="btn btn-danger radius-10" data-bs-dismiss="modal">
          <i class="bx bx-x"></i> Cerrar
        </button>
        <button [disabled]="!validateQuantity()" type="button" (click)="createService()" class="btn btn-success radius-10" data-bs-dismiss="modal">
          <i class="bx bx-check"></i> Agregar
        </button>
      </div>
    </div>
  </div>
</div>
