<div class="wrapper">
  <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
        <div class="col mx-auto">
          <div class="card radius-10">
            <div class="card-body">
              <div class="p-4">
                <i (click)="backToLogin()" class="bx bx-left-arrow-circle font-30 text-primary cursor "></i>
                <div class="text-center">
                  <img src="assets/images/tooth.png" width="140" alt="" />
                </div>
                <div class="redressed">
                  <h2 class="primary">Ingresar</h2>
                  &nbsp;
                  <h2 class="secondary">Código</h2>
                </div>
                <div class="form-body">
                  <form [formGroup]="codeForm" (submit)="validateCode()" class="row g-3 my-1">
                    <div class="col-12">
                      <input formControlName="code" type="text" class="form-control"
                        [ngClass]="changeInputValidation('code', 'required')" id="inputcodeNew">
                      <div *ngIf="validateForm('code')" class="message-error">
                        <span *ngIf="validateField('code', 'required')" class="text-danger">campo requerido</span>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="d-grid">
                        <button type="submit" [disabled]="codeForm.invalid" class="btn btn-primary radius-30">
                          <i class="bx bx-check-circle"></i>Validar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tooltip-container d-flex justify-content-center mt-3">
                  <a class="tooltip-trigger">No tienes un código</a>
                  <div class="tooltip-one">
                    Pídele a tu administrador que te proporcione uno
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>