<header>
  <div class="topbar d-flex align-items-center">
    <nav class="navbar navbar-expand">
      <div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
      </div>
      <div class="top-menu ms-auto">
      </div>
      <div class="user-box dropdown">
        <a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img [src]="userTemp.image" class="user-img" alt="user avatar">
          <div class="user-info ps-3">
            <p class="user-name mb-0">{{userTemp.name}} {{userTemp.last_name}}</p>
            <p class="designattion mb-0">{{ userTemp.role }}</p>
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="javascript:;"><i class="bx bx-cog"></i><span>Cuenta</span></a>
          </li>
          <li><a class="dropdown-item" href="javascript:;"><i class='bx bx-lock'></i><span>Código</span></a>
          <li>
            <div class="dropdown-divider mb-0"></div>
          </li>
          <li><a class="dropdown-item" href="javascript:;"><i class='bx bx-log-out'></i><span>Cerrar Sesión</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>