<div class="card border-top border-0 border-4 border-info radius-10">
  <div class="card-body">
    <div class="d-flex flex-column align-items-center text-center my-3">
      <img [src]="patient.image" alt="Admin" class="rounded-circle p-1 bg-info" width="150">
      <div class="mt-3">
        <h4>{{ patient.name }} {{ patient.last_name }} </h4>
      </div>
    </div>
    <h6 class="text-muted">
      <i class="bx bx-hash font-15 mx-1"></i>Paciente: {{ patient.id_patient }}
    </h6>
    <h6 class="text-muted">
      <i class="bx bxs-home font-15 mx-1"></i>{{ getAddress }}
    </h6>
    <h6 class="text-muted">
      <i class="bx bxs-phone font-15 mx-1"></i>{{ patient.phone_number }}
    </h6>
  </div>
</div>