<div class="modal fade" id="exampleVerticallycenteredModal" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title d-flex text-info align-items-center">
          <i class="bx bx-briefcase me-1 font-30"></i>
          Información de servicio
        </h3>
        <i class="bx bx-x-circle text-danger font-30 cursor" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>
      <div class="modal-body">
        <form [formGroup]="serviceForm" (submit)="saveService()" class="row">
          <div class="col-12 my-1">
            <label for="inputName" class="form-label">Nombre</label>
            <input formControlName="name" type="text" class="form-control radius-10" id="inputName">
            <div *ngIf="validateForm('name')" class="message-error">
              <span *ngIf="validateField('name', 'required')" class="text-danger">campo requerido</span>
              <span *ngIf="validateField('name', 'pattern')" class="text-danger">ingrese un valor correcto</span>
            </div>
          </div>
          <div class="col-12 my-1">
            <label for="inputDescription" class="form-label">Descripcion</label>
            <input formControlName="description" type="text" class="form-control radius-10" id="inputDescription">
            <div *ngIf="validateForm('description')" class="message-error">
              <span *ngIf="validateField('description', 'pattern')" class="text-danger">ingrese un valor correcto</span>
            </div>
          </div>
          <div class="col-6 my-1">
            <label for="inputPrice" class="form-label">$ Precio </label>
            <input formControlName="price" type="number" class="form-control radius-10" id="inputPrice">
            <div *ngIf="validateForm('price')" class="message-error">
              <span *ngIf="validateField('price', 'required')" class="text-danger">campo requerido</span>
              <span *ngIf="validateField('price', 'min')" class="text-danger">precio debe ser mayor a 0</span>
              <span *ngIf="validateField('price', 'pattern')" class="text-danger">ingrese un valor correcto</span>
            </div>
          </div>
          <div class="col-6 my-1">
            <label for="selectStatus" class="form-label">Estado</label>
            <select class="form-select radius-10" formControlName="status" id="selectStatus">
              <option value="true">Activo</option>
              <option value="false">Inactivo</option>
            </select>
          </div>
          <div class="col-6 my-2">
            <div class="form-check form-switch gap-3 d-flex align-items-center flex-column" style="padding: 0;">
              <label class="form-check-label text-center" for="switchStatus">Incluir en odontograma</label>
              <input (change)="chooseColor()" formControlName="odontogram" class="form-check-input" type="checkbox"
                id="switchStatus" style="width: 3rem; height: 1.5rem; margin-left: 0rem;">
            </div>
          </div>
          <div *ngIf="chooseColor()" class="col-6 my-2 d-flex flex-column justify-content-center align-items-center">
            <label for="inputColor" class="form-label">Color</label>
            <input formControlName="color" type="color" class=" form-control radius-10 form-control-color"
              id="inputColor" title="Choose your color" value="#008cff">
          </div>
        </form>
      </div>
      <div class=" modal-footer">
        <button type="button" class="btn btn-danger radius-10" data-bs-dismiss="modal">
          <i class="bx bx-x"></i> Cerrar
        </button>
        <button type="submit" class="btn btn-success radius-10" data-bs-dismiss="modal" [disabled]="serviceForm.invalid"
          (click)="saveService()">
          <i class="bx bx-check"></i> Guardar
        </button>
      </div>
    </div>
  </div>
</div>
