<div class="row">
  <div class="col-7 mx-auto">
    <div class="card border-top border-0 border-4 border-primary">
      <div class="card-body p-4">
        <div class="card-title d-flex align-items-center gap-2">
          <div>
            <i class="bx bx-user me-1 font-30 text-primary"></i>
          </div>
          <h3 class="mb-0 text-primary">Nueva Cita</h3>
        </div>
        <hr class=my-2>
        <app-appointment-form (newAppointment)="createAppointment($event)" (dateSelected)="findAppointments($event)">
        </app-appointment-form>
      </div>
    </div>
  </div>
  <div class="col-5" *ngIf="appointments">
    <h3 class="font-weight-light text-center text-muted mt-3">Citas programadas para el dia </h3>
    <h3 class="font-weight-light text-center text-muted mb-3"> {{dateSelected}}</h3>
    <div class="alert alert-primary" role="alert" *ngIf="appointments.length === 0">
      <h5 class="text-center"> No tienes citas programadas para este dia </h5>
    </div>
    <app-appointment-card *ngIf="appointments.length > 0" [appointments]="appointments"></app-appointment-card>
  </div>
</div>