<div class="table-responsive mx-5 my-3">
  <table class="table align-middle table-hover">
    <thead>
      <tr>
        <th>Fecha de expedición</th>
        <th>Servicio</th>
        <th class="text-center"># Pieza</th>
        <th>$ Subtotal</th>
        <th class="text-center">Estado</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tooth of teeth">
        <td>{{ tooth.record?.createdAt | date: 'short' }}</td>
        <td>{{ tooth.record?.service_name }}</td>
        <td class="text-center">{{ tooth.tooth_number }}</td>
        <td>{{ tooth.record?.price | currency: '$ ' }}</td>
        <td class="text-center">
          <span *ngIf="tooth.record?.status === 'PENDING'"
            class="badge rounded-pill text-primary bg-light-primary p-2 text-uppercase px-3">Pendiente</span>
        </td>
        <td>
          <div class="d-flex justify-content-center order-actions">
            <a *ngIf="tooth.record?.status === 'PENDING'" (click)="serviceDone(tooth.record?.id_record)"
              class="cursor ms-2 bg-light-success text-success">
              <i class="bx bx-check-circle"></i>
            </a>
            <a *ngIf="tooth.record?.status === 'PENDING'"
              (click)="serviceCancelled(tooth.record?.id_record, tooth.record?.service_name)"
              class="cursor ms-2 bg-light-danger text-danger">
              <i class="bx bx-block"></i>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>