<div class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <div>
      <img src="assets/images/tooth.png" class="logo-icon" alt="logo icon">
    </div>
    <div>
      <div class="redressed logo-text">
        <h3 class="primary">Smart</h3>
        &nbsp;
        <h3 class="secondary">Dental</h3>
      </div>
    </div>
    <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu" id="menu">
    <li>
      <a routerLink="/">
        <div class="parent-icon"><i class="bx bx-home-circle"></i>
        </div>
        <div class="menu-title">Home</div>
      </a>
    </li>
    <li class="menu-label">Administración</li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="bx bx-user"></i>
        </div>
        <div class="menu-title">Usuarios</div>
      </a>
      <ul>
        <li> <a routerLink="/users"><i class="bx bx-right-arrow-alt"></i>Usuarios Registrados</a>
        </li>
        <li> <a routerLink="/users/new"><i class="bx bx-right-arrow-alt"></i>Agregar</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="bx bx-user-pin"></i>
        </div>
        <div class="menu-title">Pacientes</div>
      </a>
      <ul>
        <li> <a routerLink="/patients"><i class="bx bx-right-arrow-alt"></i>Pacientes Registrados</a>
        </li>
        <li> <a routerLink="/patients/new"><i class="bx bx-right-arrow-alt"></i>Agregar</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="bx bx-detail"></i>
        </div>
        <div class="menu-title">Citas</div>
      </a>
      <ul>
        <li> <a routerLink="/appointments"><i class="bx bx-right-arrow-alt"></i>Ver Citas</a>
        </li>
        <li> <a routerLink="/appointments/new"><i class="bx bx-right-arrow-alt"></i>Programar Nueva</a>
        </li>
      </ul>
    </li>
    <li>
      <a routerLink="/services">
        <div class="parent-icon"><i class="bx bx-briefcase"></i>
        </div>
        <div class="menu-title">Servicios</div>
      </a>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon"><i class="bx bx-dollar-circle"></i>
        </div>
        <div class="menu-title">Ganancias</div>
      </a>
    </li>
    <li class="menu-label">Configuración</li>
    <li>
      <a href="javascript:;">
        <div class="parent-icon"><i class="bx bx-cog"></i>
        </div>
        <div class="menu-title">Cuenta</div>
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <div class="parent-icon"><i class="bx bx-lock"></i>
        </div>
        <div class="menu-title">Código</div>
      </a>
    </li>
    <li>
      <a (click)="logout()" class="cursor">
        <div class="parent-icon"><i class="bx bx-log-out"></i>
        </div>
        <div class="menu-title">Cerrar Sesión</div>
      </a>
    </li>

  </ul>
  <!--end navigation-->
</div>