<div class="modal fade" id="modalOdontogram" tabindex="-1" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title d-flex text-info align-items-center">
          <i class="bx bx-briefcase me-1 font-30"></i>
          {{ getTitleModal }}
        </h3>
        <i class="bx bx-x-circle text-danger font-30 cursor" data-bs-dismiss="modal" aria-label="Close"></i>
      </div>
      <div class="modal-body">
        <h2 class="mb-3"> # Pieza: {{ toothSelected?.tooth_number }} </h2>
        <label for="selectService" class="form-label">Servicios disponibles</label>
        <select (change)="changeService($event)" class="form-select radius-10" id="selectService">
          <option [value]="service.id_service" [selected]="service.id_service === toothSelected.record?.id_service"
            *ngFor="let service of services">
            {{service.name}}</option>
        </select>
        <div class="row m-3 gap-2 gap-sm-0">
          <div class="col-12 col-sm-8">
            <h6 class="text-center">Parte dental</h6>
            <div class="row">
              <div class="col-6">
                <div class="form-check form-switch gap-2 d-flex align-items-center my-2" style="padding-left: 0;">
                  <input (change)="changeColor('vestibular', $event)" [checked]="toothSelected?.vestibular"
                    class="form-check-input switch-odontogram" type="checkbox" id="switchVestibular">
                  <label class="form-check-label text-nowrap text-truncate" for="switchVestibular">Vestibular</label>
                </div>
                <div class="form-check form-switch gap-2 d-flex align-items-center my-2" style="padding-left: 0;">
                  <input (change)="changeColor('ligual', $event)" [checked]="toothSelected?.ligual"
                    class="form-check-input switch-odontogram" type="checkbox" id="switchLigual">
                  <label class="form-check-label text-nowrap text-truncate" for="switchLigual">Ligual</label>
                </div>
                <div class="form-check form-switch gap-2 d-flex align-items-center my-2" style="padding-left: 0;">
                  <input (change)="changeColor('oclusal', $event)" [checked]="toothSelected?.oclusal"
                    class="form-check-input switch-odontogram" type="checkbox" id="switchOclusal">
                  <label class="form-check-label text-nowrap text-truncate" for="switchOclusal">Oclusal</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-check form-switch gap-2 d-flex align-items-center my-2" style="padding-left: 0;">
                  <input (change)="changeColor('mesial', $event)" [checked]="toothSelected?.mesial"
                    class="form-check-input switch-odontogram" type="checkbox" id="switchMesial">
                  <label class="form-check-label text-nowrap text-truncate" for="switchMesial">Mesial</label>
                </div>
                <div class="form-check form-switch gap-2 d-flex align-items-center my-2" style="padding-left: 0;">
                  <input (change)="changeColor('distal', $event)" [checked]="toothSelected?.distal"
                    class="form-check-input switch-odontogram" type="checkbox" id="switchDistal">
                  <label class="form-check-label text-nowrap text-truncate" for="switchDistal">Distal</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-4">
            <h6 class="text-center">Vista Previa</h6>
            <div class="d-flex justify-content-center flex-wrap">
              <section class="buttons" id="18">
                <div class="button-outside" id="vestibular"
                  [ngStyle]="{'border-bottom': (toothSelected?.vestibular) ? '15px solid ' +toothSelected?.color: ''}">
                </div>
                <div class="button-outside" id="ligual"
                  [ngStyle]="{'border-bottom': (toothSelected?.ligual) ? '15px solid ' +toothSelected?.color: ''}">
                </div>
                <div class="button-inside" id="oclusal"
                  [ngStyle]="{'border-bottom': (toothSelected?.oclusal) ? '39px solid ' +toothSelected?.color: ''}">
                </div>
                <div class="button-outside" id="distal"
                  [ngStyle]="{'border-bottom': (toothSelected?.distal) ? '15px solid ' +toothSelected?.color: ''}">
                </div>
                <div class="button-outside" id="mesial"
                  [ngStyle]="{'border-bottom': (toothSelected?.mesial) ? '15px solid ' +toothSelected?.color: ''}">
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger radius-10" data-bs-dismiss="modal">
          <i class="bx bx-x"></i>
          Cancelar
        </button>
        <button (click)="saveTooth()" type="button" data-bs-dismiss="modal" class="btn btn-success radius-10">
          <i class="bx " [ngClass]="(isNew)?'bx-check-circle': 'bx-save'"></i>Guardar {{(!isNew) ? 'cambios': ''}}
        </button>
      </div>
    </div>
  </div>
</div>
