<app-loader *ngIf="isLoadingPage"></app-loader>
<div class="row" *ngIf="!isLoadingPage">
  <div class="col-lg-8 mx-auto">
    <div class="card radius-10">
      <div class="card-body">
        <div class="d-flex align-items-center flex-wrap w-100 mb-3"
          [ngClass]="totalAppointments > 0 ? 'justify-content-between': 'justify-content-end'">
          <h2 *ngIf="totalAppointments > 0" class="mb-0 ">Citas para hoy</h2>
          <div class="d-flex justify-content-end align-items-center flex-wrap gap-2">
            <app-dropdown-page-list *ngIf="totalAppointments > 0" (limit)="changeLimit($event)">
            </app-dropdown-page-list>
            <button type="button" routerLink="/appointments/new" class="btn btn-outline-primary px-3 radius-10">
              <i class="bx bx-plus mr-1"></i>Nueva Cita
            </button>
          </div>
        </div>
        <app-text-alert *ngIf="appointments && appointments.length === 0" [icon]="'bx-detail'" [textColor]="'info'"
          [text]="'No hay citas programadas para el dia de hoy'"></app-text-alert>
        <app-table-appointments *ngIf="appointments && appointments.length > 0" (newStatus)="changeStatus($event)"
          [appointments]="appointments">
        </app-table-appointments>
        <app-pagination *ngIf="totalAppointments > 0" [limit]="getLimitPagination" [total]="totalAppointments"
          (changedOffset)="changePage($event)"></app-pagination>
      </div>
    </div>
  </div>
</div>

<app-modal-appointment *ngIf="totalAppointments > 0"></app-modal-appointment>