html.color-sidebar .sidebar-wrapper{
  background-image: linear-gradient(to left bottom, #008cff, #188afd, #2488fa, #2d86f8, #3484f5, #367ff4, #387af2, #3b75f0, #3e6bee, #4460eb, #4b55e7, #5448e2);
  border-right: 1px solid rgb(228 228 228 / 0%);
}

html.color-sidebar .sidebar-header{
	background-color: transparent;
    border-right: 1px solid #e4e4e400;
    border-bottom: 1px solid rgb(255 255 255 / 15%);
	position: absolute;
}
html.color-sidebar .logo-icon {
    filter: grayscale(100%) brightness(200%);
}

html.color-sidebar .sidebar-wrapper .sidebar-header .logo-text {
  color: #ffffff;
}

html.color-sidebar .sidebar-wrapper .sidebar-header .logo-text .primary {
  color: #ffffff !important;
}

html.color-sidebar .sidebar-wrapper .sidebar-header .toggle-icon {
  color: #ffffff;
}

html.color-sidebar .simplebar-scrollbar:before {
background: rgba(255, 255, 255, .4)
}

html.color-sidebar .sidebar-wrapper .metismenu .mm-active>a, html.color-sidebar .sidebar-wrapper .metismenu a:active, html.color-sidebar .sidebar-wrapper .metismenu a:focus, html.color-sidebar .sidebar-wrapper .metismenu a:hover {
  color: #fff;
  text-decoration: none;
  background: rgb(255 255 255 / 18%);
  border-radius: 10px;
}

html.color-sidebar .sidebar-wrapper .metismenu a {
  color: rgb(255 255 255);
}

html.color-sidebar .sidebar-wrapper .metismenu ul {
  border: 1px solid #ffffff00;
  background: rgb(255 255 255 / 8%);
  border-radius: 10px;
}


html.color-sidebar .sidebar-wrapper {
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}


.redressed {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Redressed', cursive;
}

.redressed > h3 {
  font-size: 32px;
	margin-left: 1px;
	margin-bottom: 0;
	letter-spacing: 0px;
}

.redressed > h2 {
  font-size: 4rem;
}

.redressed > h2.primary,
.redressed > h3.primary {
  color: #5448E2 !important;
}

.redressed > h2.secondary {
  color: #30BCF7 !important;
  filter: brightness();
}
.redressed > h3.secondary {
  color: #ffffff !important;
}

.cursor {
  cursor: pointer;
}

/***************  Odontogram styles  *******************/

.buttons {
  width: 3.5rem;
  height: 6rem;
}

.buttons:hover {
  cursor: pointer;
}

.button-outside {
  width: 70px;
  height: 0px;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #d1d1d1;
}

.button-outside:hover {
  border-bottom: 15px solid #aaaaaa;
}

.button-inside:hover {
  background: #aaaaaa;
}

.button-inside {
  width: 40px;
  height: 39px;
  background: #d1d1d1;
  position: absolute;
}

#trapezoid {
  width: 50px; /* base menor - ajusta a mayor auto */
  height: 0;
  border-bottom: 80px solid #d1d1d1; /* altura */
  border-left: 50px solid transparent; /* laterales */
  border-right: 50px solid transparent; /* lateral */
}

#vestibular {
  margin-top: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#oclusal {
  margin-top: -55px;
  margin-left: 15px;
}

#ligual {
  margin-top: 41px;
}

#distal {
  margin-top: -43px;
    margin-left: -29px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

#mesial {
  margin-top: -15px;
  margin-left: 29px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.piece {
  display: flex;
  justify-content: center;
  width: 125%;
  margin-bottom: 1rem;
}
.bottom > .piece {
  top: 140px !important;
}

.tooth {
  margin: 0.8rem;
}

.switch-odontogram {
  width: 3rem !important;
  height: 1.5rem !important;
  margin-left: 0rem !important;
  margin-top: 0 !important;
}