/* You can add global styles to this file, and also import other style files */
.redressed {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Redressed', cursive;
}

.redressed > h3 {
  font-size: 32px;
	margin-left: 1px;
	margin-bottom: 0;
	letter-spacing: 0px;
}

.redressed > h2 {
  font-size: 4rem;
}

.redressed > h2.primary,
.redressed > h3.primary {
  color: #5448E2 !important;
}

.redressed > h2.secondary,
.redressed > h3.secondary {
  color: #30BCF7 !important;
}

.cursor {
  cursor: pointer;
}